body{background: radial-gradient(Circle,white, rgb(218, 100, 218));
     display: grid;
     justify-content: center;
     padding: 0;
     margin: 22px;
      font-size: medium;
      min-height: 100vh; }

.forms{background-color: beige;
      width: 100%;
      border-radius: 10px;
      padding: 10px;
      max-width: 440px;
     }
     h2{margin: 0px;}

#phone{min-lenght: 10px;}

.name{ font-size: 20px;}
 
.Email{font-size: 20px;}

.Phone{font-size: 20px;}

.Feedback{font-size: 20px;}

.btn{width: 150px;
     height: 60px; 
     background: radial-gradient(red,blue);
     border: 5px solid whitesmoke;
    border-radius: 20px 0 20px 0;
     color: white;
     font-weight: bold; 
     font-size: 25px; }
@media screen and(max-width: 500px){
    .forms{ width: 12.75rem;
           padding: 16px;}}